@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

html,
body {
  font-size: 16px;
  height: 100vh;
}

body section.container {
  height: 100vh;
  width: 100%;
  background-color: #2d2055;
  display: flex;
  align-items: center;
  justify-content: center;
}

body section.container-background {
  background-image: url("/img/background.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: contain;
  flex-direction: column;
  width: 80%;
  height: 80%;
}

body section.container-background section.msg {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  margin-bottom: 1em;
}

body section.container-background section.msg h1 {
  color: #ffffff;
  font-size: 3vw;
  display: flex;
  align-items: center;
  flex: 1;

  justify-content: center;
  letter-spacing: 4px;
}

body section.container-background section.logo {
  background-image: url("/img/logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: contain;
  flex-direction: column;
  width: 50%;
  height: 30%;
  /* background-color: chartreuse; */
}

body section.container-background p {
  width: 50%;
  color: #ffffff;
  margin-top: 2em;
  text-align: center;
  font-weight: 500;
}

body section.container-background input {
  width: 10em;
  margin-top: 1em;
  height: 40px;
  background-color: #fe4396;
  border: 0;
  color: #ffffff;
  font-size: 500;
  cursor: pointer;
  border-radius: 25px;
}

@media screen and (max-width: 780px){
  body section.container-background p {
    transition: font-size .5s ease-in-out;
    font-size: 14px;
  }
}